## Cấu hình database
MONGODB_URI=mongodb+srv://
MONGODB_DB_NAME=schema_name

## Cấu hình mail
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASSWORD=

## Cấu hình hệ thống
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STORAGE_PREFIX=uk-restaurant #prefix cho localStorage keys

## Cấu hình thời gian hiệu lực để tránh spam
### 1. Giới hạn đặt hàng
SPAM_MAX_ORDERS=5 #Số đơn hàng tối đa mà 1 email có thể đặt trong khoảng thời gian (theo `SPAM_ORDER_RATE_LIMIT_TTL`)
SPAM_ORDER_RATE_LIMIT_TTL=1800 #(30 phút)Thời gian giới hạn cho đơn hàng. Hệ thống sẽ đếm số đơn trong khoảng thời gian này.
SPAM_ORDER_RATE_LIMIT_BLACKLIST_HOURS=24 #Khi email đặt quá số đơn cho phép (vượt `SPAM_MAX_ORDERS`), hệ thống sẽ tự động blacklist email này trong X giờ.
### 2.Xác thực email
SPAM_VERIFICATION_CODE_TTL=600 #(10 phút) Thời gian mã xác thực có hiệu lực. Sau thời gian này, mã sẽ hết hạn và user phải gửi lại mã mới.
SPAM_VERIFIED_SESSION_TTL=1800 #(30 phút) Sau khi verify email thành công, session sẽ có hiệu lực trong X giây. Trong thời gian này, user không cần verify lại khi đặt hàng.
SPAM_MAX_VERIFY_ATTEMPTS=5 #Số lần thử nhập mã xác thực sai tối đa. Nếu nhập sai mã quá số lần này, user phải gửi lại mã mới.
### 3.Giới hạn gửi mã
SPAM_MAX_SEND_CODE=5 #Số lần gửi mã xác thực tối đa mà 1 email có thể yêu cầu trong khoảng thời gian (theo `SPAM_SEND_CODE_RATE_LIMIT_TTL`)
SPAM_SEND_CODE_RATE_LIMIT_TTL=3600 #(1 giờ)Hệ thống sẽ đếm số lần gửi mã trong khoảng thời gian này.

